body{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        'header header'
        'sidebar main'
        'footer footer';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    background-color: rgba(203, 5, 127, 0.3);
    color: white;
}

.header img {
    padding-left: 1rem;
    padding-right: 1rem;
}

.header p {
    font-family: 'Manrope', sans-serif;
    font-size: 40pt;
    font-weight: bold;
    color: #431B73;
    margin: 0;
}

.header span{
    color: #CD007F;
}

.header i{
    padding-right: 1.5rem;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    min-height: calc(100vh - 8rem);
    background-color: rgba(67, 27, 115, 0.15);
    font-family: 'Manrope', sans-serif;
    font-size: smaller;
}

h3{
    width: 100%;
    padding-left: 4rem;
}

ul{
    width: 100%;
    list-style: none;
    padding-left: 4rem;
}

.main{
    grid-area: main;
    min-width: calc(100vw - 12rem);
    min-height: calc(100vh - 8rem);
    background-color: rgba(28, 109, 32, 0.15);
}

.grid-container-main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1rem;
    column-gap: 2rem;
    row-gap: 1.5rem;

}

.card{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.card-header img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.card-body p{
    margin: 0.5rem;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.nombre-producto {
    font-size: 11pt;
    font-weight: 400;
}

.precio-producto {
    font-size: 10pt;
    font-weight: 600;
}

.card-footer{
    background-color: #CB057F;
    color: white;
    border: 1px solid #CB057F;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Manrope', sans-serif;
}

.footer{
    grid-area: footer;
    height: 2.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(203, 5, 127, 0.3);
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}